extends layout

block content
  .row
    .col-md-2
    .col-md-4
      h1= title
  .row
    .col-md-2
    .col-md-4
      canvas#board(width="304", height="304")
    .col-md-2
      #next-player
      #winner
